*{
    letter-spacing: .03rem;
    color: var(--blcak-market);
    
}

:root{
    --white : #fff;
    --blcak-market: #231e41;
    --light-black-market: #6f6f87;
    --saffaron: #f5c332;
    --dark-gray:#f2f3f5;
    --light-gray:#f9fafc;
    --Orenge-hover-btn: #ff6b00;
}


.menu{
    background-color: rgb(250, 250, 250)!important;
}


/* ===== Navbar Link Hover Effect ===== */


.navbar-nav .nav-link {
    position: relative;
    color: #333;
    transition: all 0.3s ease;

}

.navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: var(--Orenge-hover-btn);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}


.navbar-nav .nav-link.active {
    color: var(--Orenge-hover-btn);
}

.navbar-nav .nav-link.active::after  {
    width: 100%;
}

